<% include ../partials/header %>
    <div class="container">
        <h1 class="text-center">Create new campground</h1>
        <div class="row" style="width:30%;margin: 0 auto;">
            <form method="POST" action="/campground">
                <div class="form-group">
                    <input type="text" class="form-control" name="value" placeholder="Name of Place"></input>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="url" placeholder="Image of Place"></input>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/campground">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %> 